[2014-07-06 18:29] maxklenk opened #2 "register on bower.io"
http://bower.io/docs/creating-packages/#register

[2014-07-06 19:32] #2 closed, assigned to nobody

[2014-07-06 19:35] maxklenk opened #3 "Create demo site using github.io"
https://pages.github.com/

[2014-07-06 19:37] maxklenk opened #4 "write detailed documentation for dataset"

[2014-07-06 19:38] maxklenk opened #5 "write detailed documentation for options"

[2014-07-06 19:42] maxklenk opened #6 "Show units on axis (based on schema)"

[2014-07-18 10:31] #5 closed, assigned to nobody

[2014-08-11 21:49] JohanLorenzo opened #12 "Tooltip is displayed far too below when using <angularchart> as an element"
When you angularchart like this sample:

[code]

and you put you mouse on a data point, the tooltip is displayed at least 200px below the cursor. This doesn't happen when you use:

[code]

Hence, the problem is that `<angularchart>` acts like a span instead of a `<div>` [used by c3.js](http://c3js.org/samples/tooltip_format.html).

[2014-08-13 07:03] #12 closed, assigned to nobody

[2014-10-08 07:47] #3 closed, assigned to nobody

[2014-10-08 08:04] maxklenk opened #15 "make chart-type switch optional"

[2014-10-08 08:12] maxklenk opened #16 "Add optional Grid Lines and Regions"
Sample:
* http://c3js.org/samples/grid_x_lines.html
* http://c3js.org/samples/grid_y_lines.html
* http://c3js.org/samples/region.html

ToDo:
* [x] add lines to options
* [x] add regions to options
* [ ] ~~add line by clicking the axis~~
* [ ] ~~add region by grabbing the axis~~

[2014-10-08 08:20] maxklenk opened #17 "Edit Rows"
Add options to edit which and how rows are displayed in the visualization.
### ToDo:
- [x] add optional enable row edit flag
- [x] add custom legend
- [x] add option to hide/show (remove/add?) rows
- [x] add function to hide/show (remove/add?) rows
- [x] add function to change row display (line,bar,area,scatter) 'only for multi chart'
- [x] add option to change the color of a row
- [x] add functio

[2014-10-08 11:02] maxklenk opened #18 "Add parallel Coordinates"
See
- http://bl.ocks.org/jasondavies/1341281
- https://syntagmatic.github.io/parallel-coordinates/

[2014-10-08 11:06] maxklenk opened #19 "Add zoom to canvas"
To explore the data it should be possible to zoom in the data in the xAxis.

[2014-10-08 11:14] maxklenk opened #20 "Export charts as png/svg/pdf"
Discussed here: https://github.com/masayuki0812/c3/issues/313
Working solution: https://github.com/times/axisJS

[2014-10-09 09:42] maxklenk opened #21 "Add subchart zoom to canvas"
To explore the data it should be possible to zoom in the data in the xAxis using a subchart.

See: http://c3js.org/samples/options_subchart.html
### ToDo
- [x] add a toggle switch to show/hide a subchart
- [x] get zoom level on change
- [x] set zoom level

[2014-10-10 08:38] maxklenk opened #22 "make demo examples linkable"
To be able to link to a specifc example in the demo, ngRouter has to  be added to the demo page.

[2014-10-20 14:46] #15 closed, assigned to nobody

[2014-10-20 15:30] #6 closed, assigned to nobody

[2014-10-21 13:40] #21 closed, assigned to maxklenk

[2014-10-21 14:58] #4 closed, assigned to nobody

[2014-11-14 06:41] envyN opened #23 "Throws error if loaded in a requireJS+AngularJS project."
If used in an Angular Project in combination with RequireJS, error is thrown since c3 is defined as an AMD module and not binded to the window object.
Please add support for that case as well.

[2014-11-15 11:50] #23 closed, assigned to nobody

[2014-11-15 11:56] maxklenk opened #24 "Update to c3 Version 0.4.0"

[2014-11-18 16:21] myagoo opened #27 "Add repository to npm"

[2014-11-21 21:42] awk opened #28 "Commented out $watch for dataset ?"
Change https://github.com/maxklenk/angular-chart/commit/c4edf6504daaad6996a902886feba7762efa6cc0 commented out lines 695-697 in angular-chart.js which means that there's no watcher for the dataset.

Was this an error ?

In my testing the lack of watcher means that if I update the dataset after fetching data the chart is not updated. Restoring the $watch fixes this - but am I missing an alternative

[2014-11-22 13:56] #24 closed, assigned to maxklenk

[2014-11-22 13:57] #17 closed, assigned to maxklenk

[2014-11-22 15:06] #28 closed, assigned to maxklenk

[2014-11-22 15:14] #19 closed, assigned to maxklenk

[2014-11-24 08:20] maxklenk opened #29 "Add new Icons for row editing"
http://www.flaticon.com/collection/546f26cd4982f6657f8b4594

[2014-11-24 08:22] maxklenk opened #30 "Add tooltips for interactions"

[2014-11-28 09:21] ulilicht opened #31 "Synchronizing "options" property"
Hi Max,

I tried your directive - but got some trouble when trying to dynamically modify the selections of a graph.

When selecting any point, it is added to the selections object of options. (sync c3 --> angular) but when I try to modify those selections in angular, they are not synced back. (e.g. removing an entry in the selections array)

I for example would expect this code to remove one eleme

[2014-11-28 11:00] #31 closed, assigned to nobody

[2014-12-02 08:08] maxklenk opened #35 "Add .editorconfig"
As pointed out in #34, an `.editorconfig` file has to be added to define indentation.  http://editorconfig.org/

[2014-12-04 13:03] maxklenk opened #36 "Register on directive on http://ngmodules.org/"

[2014-12-04 16:11] sebastianhenneberg opened #37 "Do not expose dataAttributeChartID in options"
The attribute `dataAttributeChartID` in the options of the directive is just for internal use (C3 requires it to refer the DOM nodes). Generate the ID inside of the directive. Do not expose it to the outside world.

[2014-12-15 20:55] #35 closed, assigned to sebastianhenneberg

[2014-12-17 12:55] #36 closed, assigned to nobody

[2014-12-30 14:50] maxklenk opened #39 "Extend presentation about angular-chart"
Update the existing presentation about angular-chart to make is usable by the public:
- [ ] Add visible notes
- [ ] add notes in English
- [x] add links in presentation
- [x] add links to presentation (http://maxklenk.github.io/angular-chart-presentation)

[2015-01-04 01:45] DefunctExodus commented on #18
:thumbsup:

This would be extremely nice to have in here.

[2015-01-12 09:01] joukosaastamoinen opened #40 "C3 instance's destroy method does not get called when directive's scope is destroyed"
The situation where this is most apparent is this: if charts are created and destroyed many times, window resize event listeners get left hanging, which causes resizing browser window to get progressively slower.

[2015-01-12 09:03] joukosaastamoinen commented on #40
I already wrote a quick and dirty fix for this, but did not have time to check if this has any side-effects: https://github.com/joukosaastamoinen/angular-chart/commit/d5a2a70c4a0cde72c4afd7b5b018de84206bbe1a

[2015-01-14 10:45] maxklenk commented on #40
You are totally right, the c3.js event listeners have to be destroyed. I will add that in the next release.

[2015-01-17 15:24] maxklenk commented on #40
I implemented your fix by listening to the ```$destroy``` event on the scope.

[code]

[2015-01-17 15:24] #40 closed

[2015-01-17 15:25] #30 closed

[2015-01-17 15:26] #29 closed

[2015-01-17 15:33] #37 closed

[2015-01-17 15:37] maxklenk commented on #27
It took some time until I was able to publish a new version. Thank you!

[2015-01-17 15:37] #27 closed

[2015-01-17 20:26] maxklenk opened #42 "Highlight row when opening legend circle"

[2015-01-18 10:27] #22 closed

[2015-01-18 12:14] maxklenk opened #43 "Show post-/prefixes on Axis"

[2015-01-18 12:14] maxklenk opened #44 "Show post-/prefixes in Tooltips"

[2015-01-18 14:13] maxklenk opened #45 "Avoid overlapping circular navigation"

[2015-01-18 14:13] maxklenk opened #46 "responsive custom Legend"

[2015-01-18 14:14] maxklenk opened #47 "Change chart type when changing one row to line in a pie chart"

[2015-01-18 14:22] maxklenk opened #48 "Use the chart.transform() API C3.js offers"
To add animations and to not require a full rendering of the chart:
http://c3js.org/samples/transform_line.html

[2015-01-19 15:04] maxklenk opened #49 "Render tooltip in front of custom navigation"

[2015-01-20 06:12] arghyaju opened #50 "fix dataset watchers for promises or other objects"
I have set dataset properly in my controller but in the directive 'angularchart' scope has dataset,options etc are coming undefined.
Dataset is accessible in ng-repeat function in the same view.

My controller:

var SearchAppController = angular.module('SearchAppController', ['angularChart']);

SearchAppController.controller('ItemDetailController',function($scope,$http,$location,$routeParams){

[2015-01-20 06:50] arghyaju commented on #50
If I dont use the callback API call and pass hardcoded values it works.

[2015-01-20 08:55] dilignt opened #51 "How do I use grouping to do a stacked bar?"
It's not clear to me how to use the grouping feature of the API.  The documentation points towards the C3 example, but that uses the columns field as the data orientation, whereas angular-chart doesn't seem to support the columns field, but it is still possible to specify orientation.  The two APIs seem to be slightly different in this case, and I've not been able to get grouping working in angula

[2015-01-20 15:15] arghyaju commented on #50
It seems data binding is happening before callback can populate the values.But I believe the dataset watcher should do the trick.Not sure why its not happening.

[2015-01-20 22:33] arghyaju commented on #50
dataset watcher was not getting initialized because dataset was undefined initially and watcher does dataset.length.Initialized dataset to a non-blank array, now it works.Please see if it can be handled elegantly.

[2015-01-21 21:10] maxklenk commented on #51
Hey @dilignt,
yes the APIs are slightly different, to clarify how to use the grouping feature I create a sample: http://plnkr.co/edit/EWC4Hr?p=preview

Note that groups is an Array of Arrays:
[code]

Please close the issue, if your question is resolved.

[2015-01-21 21:15] maxklenk commented on #50
Thank you for reporting, the behavior is definitively wrong. I'll fix this in the next release.

[2015-01-22 05:46] arghyaju commented on #50
Thanks Max.

[2015-01-22 10:43] dilignt commented on #51
Perfect - thanks @maxklenk :)

[2015-01-22 10:43] #51 closed

[2015-01-22 14:26] dilignt commented on #51
Hi again @maxklenk

I've noticed in your example and in my implementation that the tooltip
jumps about when moving the mouse between groups on the chart.  I've got
lots of rows in my group and this causes the tooltip to jump half off the
top of the div where the chart is rendered, a long way from the mouse
pointer.  Is there anyway to stop this happening?

On 21 January 2015 at 21:10, Max Klenk <n

[2015-01-22 14:38] maxklenk commented on #51
You can solve this issue by applying the css attribute ```position: relative;``` to the angular-chart directive. I am currently not sure why it isn't added by default.

[2015-01-22 14:48] dilignt commented on #51
That works - thanks.

On 22 January 2015 at 14:38, Max Klenk <notifications@github.com> wrote:

[2015-01-27 20:02] cjones26 opened #53 "Padding is not implemented"
Hello Max--first of all, thanks for the awesome project!  Secondly, I noticed padding didn't seem to be implemented and the only way I could figure a way around it was to implement it like so:

[code]
Which seemed to work simply enough when I specified padding in my options like so:
[code]

[2015-01-30 06:11] alydubel opened #54 "X Axis Tick Count"
Is it possible to set the x-axis tick count ?

Example: http://c3js.org/samples/axes_x_tick_count.html

[2015-01-30 22:14] maxklenk commented on #54
This option is not implemented yet, but it will be added with the other configuration parameters in the 0.3 version of angular-chart

[2015-01-30 22:14] maxklenk commented on #53
This option is not implemented yet, but it will be added with the other configuration parameters in the 0.3 version of angular-chart

[2015-01-31 18:30] maxklenk opened #55 "Agenda for angular-chart 0.3.0"
Version 0.3.0 will contain some structural changes to separate functions and to be able to keep up with the development of c3.js.

## Tasks
- [x] adjust angular-chart options to c3.js configuration to allow an easier transition from c3.js to angular-chart
- [x] find a way to set/update all simple c3.js configuration parameters at once (#53, #54)
- [x] define how the schema object sets config param

[2015-02-01 12:53] maxklenk opened #56 "Add architectural stack on demo page"
![angular-chart_application-stack](https://cloud.githubusercontent.com/assets/3898310/5992120/b2e9c6d4-aa19-11e4-9a46-b898b7b858a2.png)

[2015-02-02 08:45] ulilicht commented on #55
an idea:
Maybe start with fresh copy of the c3 config object each update run - this would make most "else" branches obsolete. Currently, most of them are used to set null values or empty strings.

[2015-02-02 09:02] ulilicht opened #57 "Usage of scope.apply() on onselect()"
Hi,

I'm not completely sure about this, but as far as I understand we have to call scope.apply() before executing functions like onselect.

My Problem: I'm triggering some scope variable change with onSelect and it is not applied. When i change
https://github.com/maxklenk/angular-chart/blob/master/src/chart.js#L616

    if (scope.options.selection.onselected) {
          scope.options.selection.o

[2015-02-02 14:50] maxklenk commented on #57
I think ```scope.options.selection.onselected();``` is called in the current implementation and executing a function in the angular world triggers a digest circle which would propagate the changes further in your application.
I am really careful with calling scope.$apply to create exactly one digest circle when interactions happen. My problem here is that the application should be notified because

[2015-02-03 07:24] maxklenk commented on #55
@ulilicht That would definitely help, we could start with an empty object an rely on the c3.js defaults or we could set own defaults.

Before focusing on the implementation I would like to discuss the API:

# API

The options object contains four types of key:value pairs:
* dimension definition (```rows```, ```xAxis.key```)
* c3.js parameters (```size```, ```xAxis.max```)
* additional state inform

[2015-02-03 08:59] ulilicht commented on #55
Hi Max,
thanks for your comparision!

what is the goal of angular-chart? Is it
 - "developing a standalone chart solution for angular with a ton of great features"
or is it
 - "developing an easy to use integration layer for c3.js with some gimmicks"

For me, it seems to be the latter as reinventing the wheel does not make much sense to me here. Therefore I'd keep everything very close to the orig

[2015-02-03 12:30] dilignt commented on #20
I've tried to get this working with [html2canvas](https://github.com/niklasvh/html2canvas).  It works up to a point, ,but unfortunately the labels and axes aren't rendered correctly.

![image](https://cloud.githubusercontent.com/assets/5586296/6020132/23aead58-aba0-11e4-8c80-4043d1688aed.png)

[2015-02-03 13:55] dilignt commented on #20
Further to my previous comment, the reason that it doesn't work properly is that html2canvas can't render the css styles unless they're defined inline.  So by setting the styles inline on the elements, the chart can be rendered correctly using html2canvas.

FYI - I got my download png working with the following code to be triggered on ng-click of a button.  The chart needs to be inside a div with

[2015-02-04 07:30] maxklenk commented on #20
@dilignt Thank you, I would like to link your solution in the documentation. Can you create a sample implementation on Plunker? You can use this version to build ontop (http://plnkr.co/edit/EWC4Hr)

[2015-02-04 10:44] dilignt commented on #20
Here it is - http://plnkr.co/edit/wdiksu

On 4 February 2015 at 07:30, Max Klenk <notifications@github.com> wrote:

[2015-02-04 22:27] maxklenk commented on #20
Amazing! Thank you very much.

[2015-02-19 12:57] #49 closed

[2015-02-19 13:45] maxklenk commented on #55
Hey @ulilicht,

thank you for your feedback. I discussed it and where we want to go with *angular-chart* with @sebastianhenneberg. *angular-chart* does not only connect c3.js to the AngularJS data-binding, projects like [jettro/c3-angular-sample](https://github.com/jettro/c3-angular-sample) try to solve only this task so.
We want to do more, especially the formatting of the data using our schema o

[2015-02-26 08:09] sagar-mindstix opened #59 "Chart not rendering on IE 8/7"
I have added angularJS1.2.28 instead of angularJS 1.3.x.  Chart is working fine till IE 9 but It is not support for IE 8/7. Is there any pollyfill for supporting chart on IE 8/7?

[2015-02-26 08:37] maxklenk commented on #59
As you already saw, AngularJS dropped the support for IE below version 9. I have not tested the support of these browsers either. You can try the following for IE 8 and in a second step for IE 7 too:
- [ ] Ensure that angular-chart is working with AngularJS 1.2.x in other browsers
- [ ] Ensure that c3.js is working in IE 8 (http://c3js.org/)
- [ ] Follow the [old AngularJS documentation](https://c

[2015-02-27 01:47] ctimmins opened #60 "Plots don't show up but data set is there"
Can't see the actual plots but mouse over shows the data is there and correct

[2015-02-27 16:22] maxklenk commented on #60
Please provide a sample in [Plunker](http://plnkr.co/) so we can help you to figure out whats the problem.

[2015-02-27 16:24] maxklenk opened #61 "Remove circular-navigation from dependencies"

[2015-03-06 20:48] ctimmins commented on #60
I am having a difficult time re-creating my application in plunker.  I am currently busy with my senior design and other hardware issues, but I would love to solve this issue.  Can I get back to this another time?

[2015-03-06 21:39] maxklenk commented on #60
Sure come back at any time, I would be happy to know what issue you have found.
To make it as easy as possible for you to re-create the bug, you can build on top of this [working example](https://jsfiddle.net/maxklenk/r0wep1pm/2/).

[2015-03-20 22:24] fernan256 opened #62 "Problems adding charts to columns with bootstrap."
![image](https://cloud.githubusercontent.com/assets/8095849/6761876/509299f6-cf36-11e4-8226-fa4a8aebb31c.png)

Hello as seen in the image I can not make the graphic fits the frame, for the portion of styles 'm using bootstratp, I tested several sizes of al - MD- (number ) without getting fit.

[2015-03-23 10:47] maxklenk opened #63 "Add css to bower main files"
and fonts

[2015-03-23 16:25] #62 closed

[2015-03-26 20:26] owaaa opened #65 "Can't create chart from within another Directive as throws "No Data Provided""
I'm trying to use the chart from within another directive. In this directive the scope where I set the data is created in local scope of my directive's link function. However the link function for the chart has already ran and thrown a fail on this line:

https://github.com/maxklenk/angular-chart/blob/develop/src/chart.js#L120

The watcher's are then never set after this is thrown in the rest of t

[2015-03-26 21:11] maxklenk commented on #65
Hey @owaaa,
thanks for reporting. I have not experienced this issue yet, what are you passing in tho the dataset variable? A `$promise`?

Perhaps the simple use of `if (!scope.dataset) {}` isn't the best to determine if the `dataset` key is present in the `scope`.

[2015-03-26 21:31] owaaa commented on #65
I think the problem is the scope promise is from another directive vs a controller which already exists. Angular builds and links children first so the chart directive is post_linked before the link is called in my directive. Therefore nothing exists in dataset the first time its called. Normally this isn't an issue with other directives as when you compile the binding {{}} or use a watch angular

[2015-04-03 10:58] maxklenk commented on #59
@sagar-mindstix have you tried some of this steps?

[2015-04-03 11:11] #61 closed

[2015-04-03 11:11] #63 closed

[2015-04-06 06:23] chintamanil opened #66 "Is there a way to integrate this with cross filter"
I am trying to integrate this with crossfilter for large data sets. Is there a directive for that ?

[2015-04-06 08:44] eckyputrady opened #67 "Misplaced Tooltip"
In the screenshot below, I hover on bottom right chart, however, the tooltip shown at the top left

![screen shot 2015-04-06 at 3 40 03 pm](https://cloud.githubusercontent.com/assets/1640959/7002355/7f878808-dc73-11e4-81c2-ce79a32a97f9.png)

I fixed it by giving `angularchart` directive a `position: relative` style.

Shouldn't `angularchart` directive have `position: relative` style by default?

[2015-04-06 09:01] eckyputrady opened #68 "yAxis min/max options does not work"
Here's an example `options` input:

[code]

everything works correctly except min / max.

The docs also state that the value for yAxis' min/max is a string. Shouldn't those be number?

[2015-04-06 09:22] eckyputrady commented on #68
Oops, my bad. I'm reading docs in `develop` branch but using version `0.2.6`

[2015-04-06 09:22] #68 closed

[2015-04-06 09:45] maxklenk commented on #67
Hi @eckyputrady,
thank you for mentioning this, other people had the same problem. In the next release the css file will be part of the main files you automatically include with bower. The used styles are set [in there](https://github.com/maxklenk/angular-chart/blob/develop/angular-chart.css#L593).

[2015-04-06 09:45] #67 closed

[2015-04-06 09:48] maxklenk commented on #66
I am not aware of any solution that already connects angular-chart to [crossfilter](http://square.github.io/crossfilter/), feel free to build or find one and share it with us.

[2015-04-08 03:55] mfollett opened #69 "Ability to set tick culling & multiline?"
Is there a way to configure [tick culling](http://c3js.org/samples/axes_x_tick_culling.html) or [multiline/rotation](http://c3js.org/samples/axes_x_tick_rotate.html) for the axes?

If not, what would be a good interface to do so? I'd be happy to implement it, I'm just not sure how best to expose it.

[2015-04-08 20:27] nestorneto opened #70 "Labels format"
any chance to implement:

[code]

[2015-04-09 17:22] maxklenk commented on #70
Maybe you can solve this using the axis display format:
https://github.com/maxklenk/angular-chart#xaxisdisplayformat--string--function--see-example

On the long run the post- and pre-fixes defined in the schema will do the job.

[2015-04-14 16:40] #50 closed

[2015-04-14 16:40] #57 closed

[2015-04-17 10:35] tony6636 opened #71 "Charts is not being refreshed"
Hi, I use the line chart, I noticed that it works fine if I have e.g. 70 rows. But, if that count is bigger than that, let's say 250, the data is binded only once. If the new data comes via ajax (json) the chart doesn't refresh. Why ?

[2015-04-20 06:27] maxklenk commented on #71
I limited the watcher to not doing a deep watch of datasets with more than 100 rows (but this number can be configured https://github.com/maxklenk/angular-chart#watchlimit--integer). For bigger datasets only the number of rows is checked, which should trigger in your case too. I will check that.
For the moment you could increase the watchlimit or update the options to trigger a redrawing.

[2015-04-22 17:08] belens opened #72 "Chart option interaction not customizable"
You cannot set the interaction option (c3js.org/reference.html#interaction-enabled). Haven't found the time to dive into the code and create a pull request.

[2015-04-23 18:30] btm1 opened #73 "Label placement"
Is there a way to specify where the label is? Right now they appear inside of the chart area overlapping the chart and small at the top... this is very strange. Is there a way to say: "i want my labels to the left of the Y axis and below the X axis and centered?

[2015-04-23 19:43] tonyeung opened #74 "The lines and fills of the charts are not being set"
I'm using the options and data from the line annotations page - http://maxklenk.github.io/angular-chart/examples.html#/?category=annotate&example=xAxis

this is what it looks like in my project
![](http://i.stack.imgur.com/jYMc6.png)

this is how its supposed to look like
![](http://i.stack.imgur.com/WoV7z.png)

My app declaration:

var app = angular.module("app", [
    "ngCookies",
    "ngRoute",

[2015-04-23 20:04] mindontheblink opened #75 "Grid Lines Support"
There doesn't seem to be an option to create X or Y axis grid lines as shown on the c3js website.

http://c3js.org/samples/options_gridline.html

What would be the best way of achieving this using this directive?  Thanks!

[2015-04-24 10:15] maxklenk commented on #74
It looks like the css styles are not present, have you included this file?
[code]

[2015-04-24 10:17] maxklenk commented on #73
Currently there is no way to choose different label placement positions, when integrating more of the c3 api, the following options will be present: http://c3js.org/samples/axes_label_position.html

[2015-04-24 14:17] mindontheblink commented on #73
There might not be an official way of doing this with this Angular directive's API, but I found the following to work for me when defined in the chart options using the author's directive:

         yAxis: {
                    label: {
                        text: 'Text here',
                        position: 'outer-middle'
                    }
                }

You can set position value to

[2015-04-24 16:12] tonyeung commented on #74
i had a typo in my path. Thank you for checking this out.

[2015-04-24 16:12] #74 closed

[2015-04-24 16:28] btm1 commented on #73
@mindontheblink just what i was looking for thanks. This is solved. This should be put in the documentation on the directive side as well so people know.

[2015-04-27 21:42] mindontheblink commented on #69
I would like to see these options exposed as well.   Have you had any luck writing your own workaround?

[2015-04-27 21:49] mfollett commented on #69
My workaround was to modify angular-chart to expose tick options. I didn't publicize this, but I don't think there'd be any reason for me not to. If there is interest in using it I can publish the fork

[2015-04-27 22:02] mindontheblink commented on #69
I would definitely be interested.  Thanks!

[2015-04-28 07:50] maxklenk commented on #69
Please provide a pull request, so we can merge your additions into the main project.

[2015-05-01 14:12] mindontheblink commented on #69
Has there been any movement on getting this merged into the project?  I will have to expose the tick options myself today if not.

[2015-05-01 14:19] mfollett commented on #69
I put [my branch](mfollett/angular-chart/tree/addTickOptions) up a couple
of minutes ago, but I haven't put up a pull request as `npm install` isn't
succeeding for me so I cannot put up a pull request. Hopefully I'll have
this resolved shortly & will be able to do that.

On Fri, May 1, 2015 at 9:12 AM mindontheblink <notifications@github.com>
wrote:

[2015-05-01 14:41] mindontheblink commented on #69
Thanks, @mfollett!  This should get me by until it is merged in officially.

[2015-05-01 15:55] mfollett commented on #69
@mindontheblink commit a3b6a3ec602352c719e1835731823debd76f7f2d passed all the tests so I'd use that one.

[2015-05-03 17:42] maxklenk commented on #69
@mfollett thank you for contributing to this project and helping others by doing so.

[2015-05-03 17:42] #69 closed

[2015-05-03 19:31] maxklenk commented on #55
Furthermore I would like to break the directives code in multiple parts, which can be tested on their own and support a better overview what is happening where.

* `directive.js  - angularChart`

  Directive definition, require/export stuff

* `controller.js - angularChartController`

  Controller which initializes creation

* `service.js - angularChartService`

  Service which connects the other

[2015-05-13 10:47] lmayren opened #78 "Change radius of points in scatter chart"
Using angular-chart is it possible to change the radius of the points (in relation to the data value) in the scatter chart in order to create a scatter bubble chart? Looking at the C3 docs it should be possible using the point.r property.

http://c3js.org/reference.html#point-r

[2015-05-13 13:34] maxklenk commented on #78
Hey @lmayren, with the upcoming 0.3.0 release #55 of  angular-chart all c3 options will be included - please wait until the documentation is ready.

[2015-05-13 13:35] maxklenk commented on #75
Hey @mindontheblink, with the upcoming 0.3.0 release #55 of  angular-chart all c3 options will be included - please wait until the documentation is ready.

[2015-05-13 13:37] maxklenk commented on #72
Hey @belens, with the upcoming 0.3.0 release #55 of  angular-chart all c3 options will be included - please wait until the documentation is ready.

[2015-05-13 14:39] mindontheblink commented on #75
Thanks, @maxklenk! I will be sure to test this out in version 0.3.0.

Your directive has been very helpful for my project -- your support is greatly appreciated!

[2015-05-27 14:21] dilignt commented on #48
Is there an ETA for this functionality?  I'm updating the chart live over websockets but it re-renders completely every time.

[2015-06-01 22:23] linyatis opened #79 "Data Order"
Is there any support for data order? (http://c3js.org/samples/data_order.html)
If it isn't, how could I do this using angular-chart?

[2015-06-02 14:18] peibol16 opened #80 "Rotate axis support to create row charts"
Actually row charts like next example are not supported.

http://c3js.org/samples/axes_rotated.html

[2015-06-02 22:11] maxklenk commented on #80
The functionality will come, [release 0.3.0](https://github.com/maxklenk/angular-chart/tree/feature/0.3.0) is on its way and will support the full c3 API. I am currently working on an upgrade guide from the current version. Feel free to try the feature [branch](https://github.com/maxklenk/angular-chart/tree/feature/0.3.0) already.

[2015-06-03 22:38] CiscoKidxx opened #81 "TypeError: (intermediate value)[type] is not a function"
Full code here:
http://stackoverflow.com/questions/30631110/typeerror-intermediate-valuetype-is-not-a-function

I am trying to display a simple chart following the guide here: http://jtblin.github.io/angular-chart.js/

I am using sails.js, angular, bootstrap and angular-chart.js

When I load the app, I get a blank image where a chart should be. I see this error in chrome dev tools:

TypeError: (in

[2015-06-04 19:44] maxklenk commented on #81
Hey, your referencing to a guide which is based on an other library. The guide is for https://github.com/jtblin/angular-chart.js not for https://github.com/maxklenk/angular-chart.

This library here is based ond d3.js instead of chart.js.

[2015-06-04 19:44] #81 closed

[2015-06-05 02:10] nairys commented on #68
@eckyputrady were you able to get yAxis min working?

[2015-06-05 04:48] eckyputrady commented on #68
Yes. But after using code from `develop` branch at that time.

[2015-06-05 17:04] #59 closed

[2015-06-05 17:05] maxklenk commented on #42
The editor features have been removed from the main project.

[2015-06-05 17:05] #42 closed

[2015-06-05 17:06] maxklenk commented on #43
This works now by defining the [displayFormat](https://github.com/maxklenk/angular-chart#dimensiondisplayformat--string--function) of an dimension.

[2015-06-05 17:06] #43 closed

[2015-06-05 17:07] maxklenk commented on #44
This works now by defining the [displayFormat](https://github.com/maxklenk/angular-chart#dimensiondisplayformat--string--function) of an dimension.

[2015-06-05 17:07] #44 closed

[2015-06-05 17:07] maxklenk commented on #45
The circular navigation will be handled in an own project.

[2015-06-05 17:07] #45 closed

[2015-06-08 16:21] peibol16 opened #82 "Onselected function. Can't access to selection array"
I have this issue in develop branch 0.3.0

When I select a bar in a row chart I can't access to full object. I have the following code:

[code]
In custom code section I can´t access to selection array placed in options.state.selected and data not contains full object with category name.

[2015-06-08 22:31] btm1 opened #83 "angular.merge is not a function"
the first thing i see is this:

There is no such thing as angular.merge only extend.  What's the deal? I can't get this to work.

[2015-06-08 23:53] btm1 opened #84 "horizontal bar chart"
Is there a way to make a horizontal bar chart? I didn't see that specified in the options.

[2015-06-09 00:52] btm1 opened #85 "how do you customize the x axis label"
right now the x axis labels are just showing the index of the item in the array but I want to show a custom value how do I do that?

[2015-06-09 15:21] btm1 commented on #85
nvm i figured this out

[2015-06-09 15:21] #85 closed

[2015-06-09 15:23] btm1 commented on #84
if I assign a property that represents a scale to the Y axis and the assign a property that represents the bars to the X axis it should make a horizontal bar chart...and right now it doesn't.

[2015-06-09 15:27] btm1 opened #86 "Bring back the old website with examples"
I'm finally trying to integrate this into my project and the old website was very helpful with the live editor and many examples for different chart types.  The new website with the very limited git documentation isn't very helpful in figuring things out.

[2015-06-09 15:34] btm1 commented on #83
just change line 529 to

angular.extend(
        this.configuration,
        this.options.chart
      );

[2015-06-09 15:41] sebastianhenneberg commented on #86
Hi btm1, you are totally right. But we did that with intention. ;-)

From now on, we want to encourage to test and discover angular-chart using [graFiddle](http://grafiddle.it/). graFiddle runs the latest version of angular-chart and the charts can be manipulated in real-time similar to the old demo page. Unfortunately, we did not had enough time to create samples on the last code camp. We will ad

[2015-06-09 15:51] sebastianhenneberg commented on #83
Hi btm1,

[angular.merge](https://docs.angularjs.org/api/ng/function/angular.merge) is a new function of the most recent [Angular 1.4 release](https://github.com/angular/angular.js/blob/master/CHANGELOG.md#140-jaracimrman-existence-2015-05-26). It provides the functionality to **deeply** merge to or more objects.

Please note the difference between `angular.extend` and `angular.merge` from the doc

[2015-06-09 16:03] sebastianhenneberg commented on #84
Hi btm1,

have you tried the `axis.rotated` option? Check out this [graFiddle](http://grafiddle.it/5638830484881408) and have a look at the right sidebar.

[2015-06-09 16:41] btm1 commented on #80
you could actually still just do this via .chart.axis directly through the api and it still works

[2015-06-09 17:11] btm1 commented on #84
yeah i just figured out that I could do that. So i guess this is closed? so what's happening here I'm a bit confused is this project basically rewriting their existing C3 api inside of the confines of the dimensions property inside of the options that get passed? If so why? Why not just use the existing API and make it stateful?

[2015-06-09 17:20] btm1 commented on #83
gottcha... not everyone is ready to upgrade to 1.4 yet this is a notable fallback so at least angularChart doesn't crash:

angular.merge = function (s1,s2) {
    return $.extend(true,s1,s2);
};

[2015-06-09 17:29] btm1 commented on #86
oh that's perfect thanks

[2015-06-09 17:33] sebastianhenneberg commented on #86
You're welcome! Feedback of any kind regarding graFiddle can be directed at https://github.com/GraFiddle/grafiddle

[2015-06-09 17:33] #86 closed

[2015-06-09 17:40] maxklenk commented on #83
Yes I was thinking about adding a fallback. Your solution only works with jquery, I will search for a pure javascript solution

[2015-06-10 04:59] malykhinvi opened #87 ""groups" option does not affect the chart"
[code]

Note the ```chart.groups``` parameter. The chart should be stacked, but it is not.

[2015-06-10 10:08] maxklenk commented on #87
Hi @malykhinvi the groups parameter of c3 is placed inside `options.chart.data.groups`. Have a look at this [grafiddle](http://grafiddle.it/5685265389584384) to see how it works.

[2015-06-10 10:17] maxklenk commented on #84
That true angular-chart wraps the c3 api in an angular directive. If you want you can just use `options.chart` and save your complete c3-configuration in there. `options.state` can then be used, so your chart will be stateful.
`options.dimensions`is a addition we added to simplify the API of c3, for example defining a displayformat for one dimension automatically updates the axes, tooltips and lab

[2015-06-10 10:17] #84 closed

[2015-06-10 10:26] maxklenk commented on #83
We will add https://github.com/KyleAMathews/deepmerge in the next release.

[2015-06-10 10:53] maxklenk commented on #82
The `data` you get passed from the `onselected()` function is the same as added to `options.state.selected`, I don't know what additional information you would like to access.

To access all selections you can do the following:
[code]

[2015-06-10 13:46] maxklenk commented on #80
Like @btm1 said, it is now possible to use rotated axes because the 0.3.0 version has been released. Check out this [grafiddle](http://grafiddle.it/5714163003293696) to see how it works.

[2015-06-10 13:46] #80 closed

[2015-06-10 13:53] maxklenk commented on #79
With the new version (0.3.0) of angular-chart, data order is now supported.

Check out this [grafiddle](http://grafiddle.it/5679413765079040).

[2015-06-10 13:53] #79 closed

[2015-06-10 13:56] maxklenk commented on #78
With the new version (0.3.0) of angular-chart, the point radius can now be configured.

Check out this [grafiddle](http://grafiddle.it/5151213049872384).

[2015-06-10 13:56] #78 closed

[2015-06-10 14:01] linyatis commented on #79
Great, @maxklenk! Thanks for your help here.

[2015-06-10 14:13] peibol16 commented on #82
Yes, I get the following object:
[code]
I get y axis value but I want x axis value too.

If my dimension.dataType is category, for example I have 3 bars [apple, orange, banana], when I click on "apple bar" I want X axis value ("apple")  for filter another data in the page.

I opened, previously, an issue in c3 proiect but the solution was not clean. I expect same data as tooltip has when onmouseov

[2015-06-10 19:47] btm1 opened #88 "programmatically setting dimension show to false doesn't hide element on chart"
In the dimensions if you init a dimension to "show":false and then you programmatically set it to true it should then show up on the chart... the same should be true the other way. If I set it to true and then I set it to false it should disappear from the chart.

The reason i'm asking for something like this is to achieve something like this:
http://jsfiddle.net/panubear/q8h39/

Right now the onl

[2015-06-10 22:21] sebastianhenneberg commented on #53
As part of the recent [0.3.0](https://github.com/maxklenk/angular-chart/releases/tag/0.3.0) release, angular-chart now [supports the full C3 API](https://github.com/maxklenk/angular-chart#chart). Have a look at this [graFiddle](http://grafiddle.it/5699257587728384) on how to set `margin.bottom`. Please check the [upgrade guide](https://github.com/maxklenk/angular-chart#upgrade-02x-to-030) for upgr

[2015-06-10 22:21] #53 closed

[2015-06-10 22:26] #16 closed

[2015-06-10 22:29] maxklenk commented on #47
I will close this for now, even the user is still able to configure a chart with lins/bars and a dimension as pie chart. This issue was intended to fix the behaviour of the old in-place editor.

[2015-06-10 22:29] #47 closed

[2015-06-10 22:30] #55 closed

[2015-06-10 22:34] maxklenk commented on #75
The [0.3.0](https://github.com/maxklenk/angular-chart/releases/tag/0.3.0) release is out, angular-chart now [supports the full C3 API](https://github.com/maxklenk/angular-chart#chart). Have a look at this [graFiddle](http://grafiddle.it/5695159920492544) on how to add gridlines.
Please check the [upgrade guide](https://github.com/maxklenk/angular-chart#upgrade-02x-to-030) for upgrading from 0.2.x

[2015-06-10 22:34] #75 closed

[2015-06-10 22:48] maxklenk commented on #73
The [0.3.0](https://github.com/maxklenk/angular-chart/releases/tag/0.3.0) release is out, angular-chart now [supports the full C3 API](https://github.com/maxklenk/angular-chart#chart). Have a look at this [graFiddle](http://grafiddle.it/5651124426113024) to see where to add the label position now.
Please check the [upgrade guide](https://github.com/maxklenk/angular-chart#upgrade-02x-to-030) for up

[2015-06-10 22:48] #73 closed

[2015-06-10 22:51] maxklenk commented on #72
The [0.3.0](https://github.com/maxklenk/angular-chart/releases/tag/0.3.0) release is out, angular-chart now [supports the full C3 API](https://github.com/maxklenk/angular-chart#chart). Have a look at this [graFiddle](http://grafiddle.it/5677751478517760) which shows how to disable all interactions in angular-chart.
Please check the [upgrade guide](https://github.com/maxklenk/angular-chart#upgrade-

[2015-06-10 22:51] #72 closed

[2015-06-10 23:34] maxklenk commented on #88
Hi @btm1 thank you for testing the directive and reporting back your findings. There was a bug, so the configuration was not reset when updating the options. I fixed this and uploaded version 0.3.1.

Please check if this suits your needs, accessing the chart directly using the service is a bigger task, if you really need it please open a new issue for this.

[2015-06-10 23:34] #88 closed

[2015-06-10 23:36] maxklenk commented on #83
It is done! I added a fallback solution for angular < 1.4.0, so you should be able to remove your own fix when updating to angular-chart 0.3.1

[2015-06-10 23:36] #83 closed

[2015-06-11 00:20] btm1 commented on #88
@maxklenk thanks for taking care of this.  As for accessing the chart... I'm not sure whether or not this is a good idea. If it were me and I had written it though I might have not used an isolate as I'm not really sure it's necessary in this case and then using the method in the service could return the state of the chart via the getInstance method. This would at least allow for some more advance

[2015-06-11 00:26] maxklenk commented on #88
We will think about a solution. It is always good to work with isolated scopes to avoid unintended behaviour. On the other hand it is not that easy to access a chart using a service, because there may be multiple charts and a way to distinguish between them has to be found.

[2015-06-11 00:37] btm1 commented on #88
You are creating unique IDs for to apply to the dom element so you could use that same idea as a key and store the chart objects in a variable in a service and then create a method to retrieve a chart object based on a key value.

[2015-06-11 10:55] malykhinvi commented on #87
Thank you very much!

[2015-06-11 10:55] #87 closed

[2015-06-11 11:18] malykhinvi opened #89 "Question: redraw chart with disabled zoom."
In the 0.3.0 version ```zoom.enabled === true``` is required to redraw the chart.
The point is that I don't want to zoom the chart via mousewheel, but want to change the range via my own widget.
In 0.2.5 version, I just changed the ```zoom.range``` param and chart was redrawn.

Do you have any suggestions on how to accomplish that? Thanks in advance.

[2015-06-11 14:12] maxklenk commented on #89
I see you point, currently angular-chart only applies a zoom if the zoom is enabled. This was made to ensure that the applying of the zoom range is intended. We can drop this check to allow the behaviour you need.

[2015-06-15 04:45] malykhinvi commented on #89
That would be great, thanks!

[2015-06-16 22:13] BobbieBarker opened #90 "Axis Categories?"
Is this currently available through the directive?

http://c3js.org/samples/categorized.html

[2015-06-17 09:57] maxklenk commented on #90
Sure, you can add all kind of c3 configuration options inside the `chart` part of the options object.

See this [grafiddle](http://grafiddle.it/5632908932939776) as example.

[2015-06-17 09:57] #90 closed

[2015-06-17 17:21] btm1 opened #91 "dimensions "label" doesn't do anything?"
The Label property in dimensions either has confusing documentation or doesn't do anything.  If you specify label true nothing happens and even if you do specify true there is it getting the definition for the label from? is it dimensions.name? do you need to specify the label name someplace else? Is it state-full can I change it on the fly?

Essentially I have two y and y2 axis and I need to labe

[2015-06-17 17:57] maxklenk commented on #91
You are right, the label option can be confusing at the moment. The `label`key in `dimensions` works only for [data labels](http://c3js.org/samples/data_label.html) at the moment.

We will work on a solution to include axis labels with this option too. In the meanwhile you are able to configure them using the c3-configuration. Have a look at this [grafiddle](http://grafiddle.it/5757334940811264) t

[2015-06-17 22:33] btm1 commented on #91
thanks @maxklenk I figured it out.  So just curious though why not not just declare everything through c3 config?  Eventually is the idea that you will phase out options.chart (c3 config) once you dimensions supports everything that c3 config does?  namely dimensions has a more intuitive structure for declaring c3 config options than the original?

[2015-06-17 23:09] maxklenk commented on #91
The `dimensions` will not replace the whole c3-configuration, earlier versions of angular-chart tried to provide an own api for everything but I doesn't make sense to just rewrite everything.
I focus on providing a easier way to set c3-configurations using the dimensions. The `label` key is a nice example for this because it allows me to set different configurations based on the context.

[2015-06-18 10:17] maxklenk commented on #46
The custom legend is no longer part of the main project.

[2015-06-18 10:17] #46 closed

[2015-06-18 10:23] maxklenk commented on #48
I am working on support for the transform api right now. It will add support to change the type of dimensions without having to render the whole chart again.
Does this help you or do you need support for updating the data itself http://c3js.org/samples/api_flow.html ?

[2015-06-18 15:30] dilignt commented on #48
I got my chart to update using load not flow in the watcher
http://c3js.org/samples/data_load.html

I had to change the structure of the data quite a lot to make it match what
c3 expects in load(), and because of my chart groups per column I don't
think it's suitable for a generic watcher.

On 18 June 2015 at 11:23, Max Klenk <notifications@github.com> wrote:

[2015-06-18 16:47] btm1 commented on #91
@maxklenk makes sense! thanks for the explanation. This project is very exciting to me. I currently work as a ux/developer for data visualization and if my schedule frees up I may try to help contribute to this :) I build a similar but internal directive statefull integration between D3 and angular without c3 in the middle some time ago.

[2015-06-18 16:50] maxklenk commented on #48
Ok, I think to give users the ability to do what they need full access to the functions is required. How do you access the chart and its functions in your solution?

[2015-06-19 08:34] dilignt commented on #48
So I changed the `scope.startSmallDatasetWatcher` in the source to achieve what I wanted
[code]
* I used the deep equals parameter on` angular equals` to get a match
* I replaced `scope.updateChart` with other code to dynamically load the data
* Because my data has a group for every column, so that each column has it's own legend that can be individually removed, I've got to change the data in the

[2015-06-19 09:07] maxklenk commented on #48
Great solution. I will think about how to allow adding custom functions to handle the load.

[2015-06-19 18:56] btm1 commented on #20
I've implemented something similar but i get something to the effect of the attached: It's not picking up the fills for the bars which is pretty strange. Any ideas?

![screen shot 2015-06-19 at 11 55 44 am](https://cloud.githubusercontent.com/assets/4110944/8260697/38c8c530-167a-11e5-8090-643c05dfa60c.png)

[2015-06-19 20:42] maxklenk commented on #20
The axes are normally set using the c3.css file, for export these styles have to be inlined. But I have no idea why the bars aren't filled.

[2015-06-19 21:49] btm1 commented on #20
I actually did this using canvg.js i had tried html2canvas in the past and it didn't work... this script works with charts just made with plane old D3 but for some reason the ones made with c3 have the not filled in bars issue.

[2015-06-19 22:11] maxklenk commented on #91
I had a look at this in the code, the axis labels can not be defined in the dimensions, because multiple dimensions can stand for the same `y`-axis. Therefore the native c3 solution used in the [grafiddle](http://grafiddle.it/5757334940811264) will be still the best solution.

[2015-06-19 22:11] #91 closed

[2015-06-19 22:52] maxklenk commented on #70
Hi @nestorneto,
with the new release there are three ways to specify this in as much detail as you want:

#### 1. `dimension.prefix`
The API allows you to specify a prefix for a dimension which is then applied to all occurrences of the dimension (tooltips, labels, axis,...). Have a look at this [grafiddle](http://grafiddle.it/5767281011326976) to see how it works.

#### 2. `dimension.displayFormat

[2015-06-19 22:52] #70 closed

[2015-06-19 23:04] maxklenk commented on #65
I tried my best to handle all kind of promises and late assignment in the new release. Please try if it works like expected.

Furthermore setting ranges for the axes can be accomplished using the same api c3 provides, have a look a this [grafiddle](http://grafiddle.it/5706803308396544) to see a working example.

[2015-06-19 23:04] #65 closed

[2015-06-19 23:11] maxklenk commented on #54
You can now set the tick count in the `chart` part of the options.
See a working example in this [grafiddle](http://grafiddle.it/5639274879778816).

[2015-06-19 23:11] #54 closed

[2015-06-20 01:39] maxklenk commented on #48
The `transform()` function is now integrated an released. I will add a new issue when working on `flow()` and `load()`.

[2015-06-20 01:39] #48 closed

[2015-06-20 01:40] maxklenk commented on #89
I dropped the check, version 0.3.2 should work for you.

[2015-06-20 01:40] #89 closed

[2015-06-20 01:46] maxklenk commented on #82
As you saw in the other response, c3 does not support this functionality. But you are abel to access your data, so you could try to use the `X_AXIS_INDEX` to retrieve the right category from your data.

[2015-06-21 15:55] warapitiya opened #92 "Trigger "onclick" event in C3"
I'm trying to get clicked data when I click on a node. I tried

[code]

and

[code]

but nothing helps me or log anything.

[2015-06-21 20:53] maxklenk commented on #92
The selection options of c3 are defined inside of `chart.data`. Have a look at [data-onclick](http://c3js.org/reference.html#data-onclick) for the available options.

The following options should work:
[code]

[2015-06-21 20:53] #92 closed

[2015-06-23 23:55] youtalaoui opened #93 "How to call the C3js api function ?"
hello,

i want to know if it's possible de call the c3js api function to transform the chart to another type. and if yes how can it be done ? more specifically i want it to be binded to a scope variable.
then i can dynamically create charts based on that type and some data and ng-repeat for example.

Thank you

[2015-06-24 00:07] maxklenk commented on #93
The way angular-chart works is by letting the user specify the chart options and it then calls internal the corresponding c3js API functions. So everything you have to do is to specify your data and the dimensions you want to show, as soon as you update your configuration the chart will update too.

To get started follow the [install guide](https://github.com/maxklenk/angular-chart#install). Two s

[2015-06-29 09:51] warapitiya opened #94 "Dynamic resize"
How do I dynamically resize the chart? I tried using

[code]
but this won't work. any help?

Also tried $scope.options.resize() :-1:

[2015-06-29 12:05] bontorhumala opened #95 "Update Dimensions Dynamically"
Hello, how can I update the Dimensions dynamically to change how date is presented on x-axis? I have a dropdown button where user can pick specific time range to display data and would like to $scope.options to pick the changes automatically. Using $scope.<rangetype> doesnt seem to work:

    $scope.$watch('range', function() {
    console.log("range changed");
    $scope.options.dimensions = {

[2015-06-29 13:22] maxklenk commented on #94
Hi @warapitiya,
the problem here is that angular does not create a reference to `$scope.chartWidth` as you may expect, because it is only a number or string and not an object.
It will work if you reference an object instead, see this [example](http://plnkr.co/edit/TDzlGY).

[code]

[2015-06-29 13:22] #94 closed

[2015-06-29 13:26] sebastianhenneberg commented on #94
It is a limitation of the JavaScript language which occurs whenever you work with scopes. Check the [Understanding Scopes article](https://github.com/angular/angular.js/wiki/Understanding-Scopes) from the AngularJS Wiki for more information.

[2015-06-29 14:08] maxklenk commented on #95
Hi @bontorhumala,
your code nearly works, there are only small changes to do. You can find a working example here: http://plnkr.co/edit/zdvieM?p=preview

#### What to fix?
```$scope.$watch('range', function() {}, true)```
If you want to watch for changes inside an object you have to do a deep watch, the normal watch only checks if a new value is assigned to `$scope.range`.

The chart only rerender

[2015-06-29 14:08] #95 closed

[2015-07-01 06:43] jmijmi opened #96 "Annotation in new version"
In previous version were option to draw annotations, how to draw annotations in new version.

[2015-07-03 10:48] maxklenk commented on #96
We now use the c3.js api to do these kind of things. In their API the annotations are called [grids](http://c3js.org/samples/style_grid.html).

See this [grafiddle](http://grafiddle.it/5717271485874176) for a working example.

[2015-07-03 10:48] #96 closed

[2015-07-06 11:26] nonZero opened #97 "Add simple example for a working pie chart"
It is unclear how the options should be used to generate a pie chart.

For example with the following data:

    [
        {title: "Foo", count: 123},
        {title: "Bar", count: 456},
        {title: "Baz", count: 789}
    ]

Any help would be appreciated :-)

[2015-07-06 11:34] maxklenk commented on #97
I create an [grafiddle](http://grafiddle.it/5659118702428160) for you. We try to separate the data and the visualisation. Therefor the data contains only an identifier (`first`, `second`,...) and the dimensions object defines what should be display and how you want to name it.

[2015-07-06 11:34] #97 closed

[2015-07-06 14:35] nonZero commented on #97
Thank you!

Adding here for future reference:

	{
	  "dimensions": {
	    "first": {
	      "name": "foo",
	      "type": "pie"
	    },
	    "second": {
	      "name": "bar",
	      "type": "pie"
	    },
	    "third": {
	      "name": "baz",
	      "type": "pie"
	    }
	  },
	  data: [{
	    "first": 12,
	    "second": 16,
	    "third": 72
	  }]
	}

[2015-07-23 13:29] flynhigher opened #98 "Stacked bar chart"
Hi,
How do you get the stacked bar chart that c3 can draw with "groups."
I tried by setting chart property like below.

`var group = ["chart1","chart2"];
options.chart = {data: {groups: group}};`

However, I get below error from c3.js line 1406.

`TypeError: config.data_groups[j].filter is not a function`

Has anyone successfully get this done?

Thanks,
Terry

[2015-07-24 09:13] sebastianhenneberg commented on #98
Hi @flynhigher, the groups parameter of c3 is placed inside ``options.chart.data.groups``. Have a look at this [grafiddle](http://grafiddle.it/5685265389584384) to see how it works.

[2015-07-25 04:43] warapitiya opened #99 "Huge performance hit when having large data"
I have around 1000 x asix data and it takes nearly 20s. Please look into this

[2015-08-06 17:54] mackler commented on #98
Apparently, even though the `groups` property is an array, it has no effect on the order in which the bars are stacked.  And even if you define an `order` function to fix that problem, _that_ has no effect on the order of the labels in the legend.

This is unfortunate, since having the dimensions in the stacked bars and the labels in the legend ordered differently makes a chart harder to read (and

[2015-08-14 20:57] maxklenk commented on #98
@mackler That's true, sadly. It is a problem of [c3](http://c3js.org/samples/data_order.html) the library we are building on top. Please request a solution for your problems in their issues.

[2015-08-14 20:58] mindontheblink opened #101 "Dynamic Directive Nesting Issue"
I am using the angularchart directive nested inside another parent directive that I use to generate dynamic chart instances.   This works great with one dynamic instance, but as soon as I create a second instance using the same directive (with angularchart nested inside), my first angular chart's settings (options, dataset, schema) get overridden with those of the new chart's.

I have ensured that

[2015-08-14 21:07] maxklenk commented on #101
Hi @mindontheblink,
first of all, are you using the latest version of angular-chart? The new 0.3.x version came out a few months ago, you can read [here](https://github.com/GraFiddle/angular-chart#upgrade-02x-to-030) how to upgrade from an earlier version.
Please report back if you still experience this problem or if you have to stick to an older version.

[2015-08-14 21:12] mindontheblink commented on #101
Hey @maxklenk  - thanks for the quick reply.

I had just noticed after posting that I am still on 0.2.9.  I will report back after the upgrade.  Sorry!

[2015-08-14 21:53] mindontheblink commented on #101
Just upgraded to the latest and made the appropriate changes based on your upgrade guide.  This still appears to be an issue.

[2015-08-14 22:08] maxklenk commented on #101
Mmh, angular-chart has an internal service which is create newly for every usage of the directive. Perhaps the angular-chart directive you access is still the same and therefor contains the old data.
The only idea I have is to wrap it with an `ng-if` which hides it at first an then renders the directive when needed.
If it still doesn't work you may add the basics of your custom directive to this [

[2015-08-14 22:12] mindontheblink commented on #101
Thanks again for the quick reply!  I will try that and get back to you.

[2015-08-14 22:39] mindontheblink commented on #101
I forked your plunk and created this, which is working.

http://plnkr.co/edit/M5IkNKdJaNnPjYeu1ZIb

This is not 100% of what I am doing.  In my application, I am dynamically injecting the custom-template instances into the DOM, (adding the directive to angular's $templateCache).  I will try to add this to my plunk tomorrow or Monday and see if it is reproducible here.

Thanks again for bearing wit

[2015-08-15 19:11] mindontheblink commented on #101
I morphed the above plunker into something very close to what I am doing.  I was still not able to recreate.  I will have to step back into my code and diff against this basic skeleton.  Mark this as non-issue for now until you hear back.

http://plnkr.co/edit/gTMUjVw9sx8JnVeqh1il?p=preview

[2015-08-16 13:56] maxklenk commented on #101
Ok, I hope you find the difference.

[2015-08-17 15:22] mindontheblink commented on #101
Found the difference.  It was my fault -- sorry I commented here without doing more research.   You can go ahead and mark this as a non-issue.

In case you were curious, I had my charts' options being set to an angular constant -- which resulted in their sharing of the same object reference in memory.

Thanks for your assistance and for such a stellar directive.  Looking into this issue at least g

[2015-08-17 15:23] maxklenk commented on #101
No problem, I am just happy that it is not a angular-chart bug ;-)

[2015-08-17 15:23] #101 closed

[2015-08-17 17:52] mindontheblink opened #102 "Toggle Legend Option Not Working"
I have been trying to find a way to toggle the legend in 0.3.2.

http://c3js.org/samples/options_legend.html

This option no longer seems compatible in the chart options for 0.3.2 as far as I can tell.  This was working in 0.2.9.  I wasn't able to find any documentation on this option, and fully-supported c3 API would mean I should be able to do the following:

[code]

Thanks in advance.

[2015-08-18 16:04] maxklenk commented on #102
For sure you can, please add all c3 specific configurations inside `options.chart`, then it [will work](http://grafiddle.it/5694209793196032).

[code]

[2015-08-18 16:04] #102 closed

[2015-08-26 11:58] alexlangberg commented on #93
Let's say that after resizing the container of the chart, I now need to call [chart.resize()](http://c3js.org/samples/api_resize.html) without actually specifying any options - I just want it to resize to the current available width. How do I do this? Can I force a resize somehow else?

Perhaps it would be nice to expose the C3 chart itself for more advanced changes?

[2015-08-29 14:54] khanium opened #104 "Keep legend/zoom selections after update data"
Hi,
  First all, I would like to thank you the help in advance. I would like to update a multi-lines chart data without missing the selected options into chart like as legend series or zoom range. E.g: last 5 minutes points of all line series

[2015-09-04 10:08] random-one commented on #97
And I would ask for the same example but for version 0.2.9.

[2015-09-10 05:11] warapitiya opened #105 "Chart not drawing on Chrome version 45"
Chat will not draw on chrome version 45 (Latest update)

[2015-09-10 07:11] maxklenk commented on #105
Hi @warapitiya, for me on mac everything works fine in the current chrome version 45.
* Could you please provide information about your system (OS, full chrome version number)
* Does the demo work for you http://grafiddle.github.io/angular-chart/ ?
* Please open the console and copy us the errors.

[2015-09-10 11:40] warapitiya commented on #105
###System:
* OS : Mac
* Chrome : Version 45.0.2454.85 (64-bit)

Tried on different Mac and Windows machines same happens. But when I move to Firefox it works fine. Also tired on Angular 1.4.0 & 1.4.5

[2015-09-10 14:09] maxklenk commented on #105
MMh, it works all right in my browser with the exact same version, but I still don't get if the demo isn't working for you or the integration in your project?
And the error log would be nice to have.

[2015-09-18 19:38] btm1 opened #106 ".getbbox error with firefox"
I would do a pull request for this but I just don't have the time:

Have you guys heard of this error in FF? https://bugzilla.mozilla.org/show_bug.cgi?id=612118 it's been around for quite some time and moz seems to have no intention of fixing it because it would require a pretty extensive rework because of gecko.

To make a long story short c3.js and just about every other svg library on the plane

[2015-09-19 09:22] maxklenk commented on #106
Thank you, I will look into this and will get back to you.

[2015-09-21 08:47] Phisherman commented on #86
Hi,

I just visited grafiddle.it. Where are the examples?

[2015-09-21 08:58] Phisherman opened #107 "charts don't render"
Hi,

I think it's a misunderstanding from me because some charts render except the examples of C3.js.

Here is a code snippet from http://c3js.org/samples/chart_donut.html which doesn't work with angular-chart.

Controller:
[code]

View:
[code]
The binding in the view is correct because some charts like the example work. So, as I said, I think it's a misconception. Unfortunately *angular-chart* do

[2015-09-24 12:17] Phisherman opened #108 "some options don't work"
Hey,

I've just figured out how to use angular-chart due to the bad documentation and missing examples.

I want to use a color pattern with a threshold for the gauge chart just like the example on http://c3js.org/samples/chart_gauge.html

Here is my grafiddle: http://grafiddle.it/5657382461898752. What did I wrong?

[2015-09-24 12:17] Phisherman commented on #107
It was my fault. Now it works.

[2015-09-24 12:17] #107 closed

[2015-09-24 17:30] maxklenk commented on #108
Hi @Phisherman,

please provide a pull request or ideas how to improve the documentation. We will link examples as soon as we find time for it.

For your problem checkout this [grafiddle](http://grafiddle.it/5688424874901504).
The dimensions `object` contains the information about which data you want to display and the `chart` object can contain all options you have in c3.js

[2015-09-24 17:49] Phisherman commented on #108
Thanks! You helped me a lot.

Some examples like this grafiddle help a lot in understanding how to use your wrapper.

[2015-09-24 17:49] #108 closed

[2015-09-30 15:11] gildasdubois commented on #93
Hi,

I'm also interrested by the exposition of the C3 chart itself!

Could you do this, please?

[2015-10-25 13:19] redpandatronicsuk commented on #93
I found a way to expose the c3 chart object using angular chart. There are probably better ways of doing this, but for now this works:

1. In angular-chart.js around line 18: change:
    `scope: {
      options: '='
    },`
to:
    `scope: {
        options: '=',
        chart: '='
    },`
2. In the AngularChartService, after the generateChartFunction (around line 598), create a new getChart funct

[2015-11-08 22:06] shmuelios opened #110 "Custom Legend Support?"
Hi There,

Great Project!

Was just having a mess around and wondered if it was possible to implement custom legend support.
http://c3js.org/samples/legend_custom.html

I've had a look around the code and don't think there is a way of currently getting to the object c3.generate() creates in the above example. do you think its worth exposing this from c3?

var chart = c3.generate({...})
chart.focus

[2015-11-10 20:05] shmuelios commented on #110
The reason I was requesting was for high amount of items in the legend.

I have now found if I align the legend right it does a good job anyway. :+1:

[2015-11-10 20:08] maxklenk commented on #110
I generally try to keep the full state of the chart (which dimensions are shown/hidden) in the `options` object. So you could hide the default legend and add a custom one which updates the options. I will also have a look how to provide access to the chart itself since this was wished multiple times.

[2015-11-10 20:58] #82 closed

[2015-11-10 20:58] #98 closed

[2015-11-11 15:44] shmuelios commented on #110
Yes that works also. slightly less interactive but does the job!
Thanks

[2015-11-13 11:13] NastyLucas opened #111 "Injecting chart containers"
Hi I'm having a little trouble picking up a directive in angular: when I try to inject it using this function, does it require me to already have the angular chart tag on the page or is there a way around this to inject the data in?

`
angular.element(
		document.getElementById('chart-container-inject')
	)
	.prepend( $compile(
		'<angular-chart options="options" style="height: 500px"></angular-cha

[2015-11-13 13:16] maxklenk commented on #111
Hey @NastyLucas,

perhaps you can explain a little bit more what you want to archive by injecting the chart this way. What worked for me was the following setup:

[code]

[2015-11-13 14:41] NastyLucas commented on #111
Oh wow thank you very much I hadn't thought of that approach, I'd been tearing my hair out trying to get that to work properly so thanks for the reply!

[2015-11-13 14:50] maxklenk commented on #111
No problem.

[2015-11-13 14:50] #111 closed

[2015-12-07 16:33] xtianjohns commented on #93
@maxklenk, is this closed because @redpandatronicsuk's solution is acceptable, or is this functionality not something you think is appropriate?

I think I understand the benefits of letting the directive handle most everything, but the c3 resize listener is for the window only, and if someone's parent div is resized due to a non-window-resize event, this seems like a good case for some extensibili

[2015-12-07 17:16] maxklenk commented on #93
Hi @xtianjohns, I am not quite sure why I closed the issue without leaving a comment.

And you are right, it would be nice to have access to the c3js api, but I am not sure what's the best solution. Please give me feedback to to following solutions:

##### 1. @redpandatronicsuk Solution
 access throw directive attribute.

##### 2. Callback function
the directive allows to pass a callback function

[2015-12-08 15:20] MyGuschtl commented on #93
I would also like to use chart api directly. I would prefer #1

[2015-12-10 17:45] xtianjohns commented on #93
I thin I would prefer the first solution, but I share your concerns about being forced to handle timing. What are your thoughts about exposing a promise rather than the empty object?

The third solution interested me, I think that this could be solved by emitting an event on the directive's scope, with an event name encoded with the chart element's ID, if available? This would enforce the constrai

[2015-12-11 20:04] btm1 opened #112 "dimensions with predicate?"
is it possible to specify dimensions for objects that have name spaced properties?

i.e.
how would i create a dimension for days.value in the object blow
[code]
as far as I can tell the dimension is just the key value on the map or is there an alternate way of defining it?

[2015-12-30 08:33] speed-e opened #113 "Get data on click"
Hi,
I was looking through your documentation and I can't seem to find how would one handle clicking on a chart? When I click one of the series on the pie chart I would like to drill down deeper into the dataset (loaded dynamically as JSON). How would you catch the part of data that has been selected? I tried using options.state.selected, but that did not work. Any help would be greatly appreciated

[2016-01-04 21:09] btm1 commented on #113
@speed-e you can accomplish this by adding the click event to the "chart" portion of the config object:

[code]

[2016-02-09 07:32] shvelo opened #114 "Y axis goes below 0 when min is set to 0 and dataset starts at 1"
![screenshot_20160209_105918](https://cloud.githubusercontent.com/assets/1080798/12909854/8c17779c-cf1e-11e5-8c34-d12e6b4d9239.png)

Options:
[code]

[JsFiddle](https://jsfiddle.net/Lq5w57ye/10/)

[2016-02-09 08:25] maxklenk commented on #114
Hey @shvelo
the documentation of `axis.y.min` references the wrong usage of  `axis.y.padding`. Please make sure you pass a object to padding:
[code]
http://c3js.org/reference.html#axis-y-padding

[2016-02-09 08:25] #114 closed

[2016-03-10 16:58] lbayerl opened #115 "Is C3s data.xs supported?"
We did not manage to use C3s data.xs attribute: http://c3js.org/reference.html#data-xs
like in this example: http://c3js.org/samples/simple_xy_multiple.html

Grafiddle is here: http://grafiddle.appspot.com/5724313353191424

[2016-03-11 08:36] maxklenk commented on #115
Hey @lbayerl,

the `data.xs` attribute can be specified inside the `chart` object of your configuration. I updated your grafiddle by removing a duplicate of the `chart` object and adding the `xs` configuration. I have no experience if the `data.xs` attribute works with json data, but in this grafiddle the option is placed at the right position: http://grafiddle.appspot.com/5685057352105984

[2016-03-11 09:32] lbayerl commented on #115
Thanks @maxklenk . You guided me into the right direction. In the end I found that I even don't need the xs attribute in my case. Only thing is to avoid a "breaking" line when one x value has no y-key has a null value. This can be easily achieved by adding connectNull: true to the line attribute within the chart object.

For everyone who might be interested in the solution, please see this [grafid

[2016-03-11 09:32] #115 closed

[2016-03-15 21:29] maxklenk commented on #105
We were not able to reproduce this bug without additional information about the failing configuration.

[2016-03-15 21:29] #105 closed

[2016-03-15 21:31] maxklenk commented on #60
Closed because there was no update for a year.

[2016-03-15 21:31] #60 closed

[2016-03-15 21:32] maxklenk commented on #66
Closed because it seams nobody is working on such a plugin at the moment.

[2016-03-15 21:32] #66 closed

[2016-03-15 21:35] maxklenk commented on #71
Closing for now, as there is no update.

[2016-03-15 21:35] #71 closed

[2016-03-15 21:43] maxklenk commented on #93
Based on this issue and the pull request #100 of @wwwsevolod I implemented both the first solution with a promise and the third solution. So from now on you can access the c3js API once the chart is rendered using the [instance attribute](https://github.com/GraFiddle/angular-chart#instance):
[code]

Or if you prefer to [listen to an event](https://github.com/GraFiddle/angular-chart#events) once th

[2016-03-15 21:43] #93 closed

[2016-03-15 21:45] #110 closed

[2016-03-15 21:48] maxklenk commented on #113
@speed-e the posted solution is what you need. Please tell us if you need more support.

[2016-03-15 21:48] #113 closed

[2016-03-15 22:19] xtianjohns commented on #93
Accommodates my use case 100%. Thanks, Max!

[2016-04-26 17:00] suryadeepchatterjee3107 commented on #81
@maxklenk I'm having the same problem. I tried using d3.js instead of chart.js, still, it didn't work.

[2016-04-26 17:01] suryadeepchatterjee3107 commented on #81
List of errors:
ionic.bundle.js:25642 TypeError: (intermediate value)[e] is not a function
    at d (angular-chart.min.js:1)
    at Object.fn (angular-chart.min.js:1)
    at Scope.$digest (ionic.bundle.js:28995)
    at Scope.$apply (ionic.bundle.js:29263)
    at ionic.bundle.js:31030
    at completeOutstandingRequest (ionic.bundle.js:18706)
    at ionic.bundle.js:18978

[2016-04-26 17:53] jcollum commented on #99
I think it would help the dev out a lot if you would create a plunker or codepen that shows the problem.

[2016-04-27 04:55] craniodev commented on #81
It's working in my case

    <link rel="stylesheet" href="http://jtblin.github.io/angular-chart.js/dist/angular-chart.css" />
    <script src="http://jtblin.github.io/angular-chart.js/bower_components/Chart.js/Chart.js"></script>
    <script src="http://jtblin.github.io/angular-chart.js/dist/angular-chart.js"></script>

[2016-04-27 10:44] maxklenk commented on #81
@craniodev you do not use the library of this repository, because you use `angular-chart.js` which is based on `Chart.js`. To use `angular-chart` the library `d3.js` has to be included.

@suryadeepchatterjee3107 can you please post your bower file or the links to the files to include so I can check if something does not match right.

[2016-04-28 08:32] suryadeepchatterjee3107 commented on #81
https://github.com/suryadeepchatterjee3107/angul/tree/master/www @maxklenk

[2016-04-28 08:33] suryadeepchatterjee3107 commented on #81
please check the app.js and index.html, i have created this demo project to check angular charts.

[2016-04-28 09:42] maxklenk commented on #81
@suryadeepchatterjee3107 I had a look at your code, you are using Chart.js and https://github.com/jtblin/angular-chart.js which is the right combination. Please ask in their [repository](https://github.com/jtblin/angular-chart.js) how to fix your problem.

[2016-04-28 15:01] suryadeepchatterjee3107 commented on #81
oh! okay, Thank you! @maxklenk

[2016-04-28 19:00] suryadeepchatterjee3107 commented on #81
BTW, Thank you @craniodev , it worked for me.

[2016-05-01 07:16] jsbimra commented on #81
Using without minification code it worked for me too, but with Chart.min.js and angular-chart.min.js its give the same error denoted here.
does anybody used both the files with minification's.?

[2016-05-01 08:56] suryadeepchatterjee3107 commented on #81
@jsbimra I would assume that you have changed the links from  "angular-chart.js" to "angular-chart.min.js" and yet you are getting those errors. To solve it, please make sure you are using the latest angular-chart.js 1.0.0-alpha version which is compatible with chart.js 2.0.

[2016-05-01 09:49] jsbimra commented on #81
@suryadeepchatterjee3107
Using following version of
https://raw.githubusercontent.com/jtblin/angular-chart.js/chartjs-2.0/dist/angular-chart.min.js
with minify version
Chart.js
 * http://chartjs.org/
 * Version: 2.0.2

Got the following error : Chart.min.js:12 Uncaught TypeError: a is not a function

[2016-05-01 10:42] suryadeepchatterjee3107 commented on #81
@jsbimra can you please post the <script src> tag content!
correct me if I am wrong. you have downloaded the Chart.js and angular-chart.min.js and copied it in one of your js files. Now, you are linking the local files right?

[2016-05-01 10:47] suryadeepchatterjee3107 commented on #81
@jsbimra  correct me if I am wrong. you have downloaded the Chart.js and angular-chart.min.js and copied it in one of your js files. Now, you are linking the local files right?

[2016-05-01 10:55] jsbimra commented on #81
Yes.
This is how i have included
Version: 2.0.2`<script src="libs/angular-chart/Chart.min.js"></script> `
Copied from source mentioned above` <script src="libs/angular-chart/angular-chart-v1alpha.min.js"></script>`

[2016-05-03 12:43] suryadeepchatterjee3107 commented on #81
Hey @jsbimra , you need to use chart version 1.x. It will work fine with 1.x.
For some reason, the wrapper is not supporting chart version 2.x .

[2016-05-03 12:46] jsbimra commented on #81
hmm.. can't use new feature's of Chart version 2.0 with angular-chart.js :(

[2016-05-03 19:05] jcollum opened #116 "request: function for line chart marker color in dimension configuration"
I'd like to be able to make a line chart where the color of each marker is dependent on a property in the datapoint. This fiddle does it: http://jsfiddle.net/JedRW/7/

![image](https://cloud.githubusercontent.com/assets/704514/14994923/219de27a-1127-11e6-8550-0d78c5806714.png)

I'm willing to take a shot at it, I just want to make sure this isn't being done (or is done) already.

[2016-05-16 21:51] jcollum commented on #116
Figured it out:

              graphOptions =
                data: datapoints
                dimensions: dims
                chart:

                  data:
                    color: (color, d) ->
                      if d.index? and data[d.index]?
                        return colors[data[d.index].status]
                      else return color

[2016-05-16 21:51] #116 closed

[2016-05-17 08:04] maxklenk commented on #116
Great, thanks for sharing your solution with the community.

[2016-05-30 07:29] c5236786 commented on #20
could you please rewrite plunker code ? i tried but the c3 chart i download is blank.

[2016-05-30 08:30] dilignt commented on #20
The angular-chart dependency is no longer available which is why it's not working.  I don't where there is a different CDN of angular-chart but if you download the plunker and replace angular-chart.js with a local dependency it should work

[2016-05-30 08:39] maxklenk commented on #20
You can link to angular-chart resources on github using https://rawgit.com/

[2016-05-30 11:01] c5236786 commented on #20
Hi @dilignt  Thank i'll try that..

https://github.com/annatomka/ng-c3-export

i also referred this to download charts. Limitation is that it doesn't work on IE and Safari browsers.

[2016-05-30 12:55] dilignt commented on #20
@maxklenk where is the rawgit angular-chart v0.2 resource?  This v0.3 one has a different API, and I notice that the upgrade instructions doesn't mention how to upgrade

[2016-05-30 13:03] maxklenk commented on #20
@dilignt you can link to files from specific versions like this:
https://rawgit.com/GraFiddle/angular-chart/0.2.9/angular-chart.js
(in the web interface of GitHub choose a specific tag and browse the files)

And yes, between v0.2 and v0.3 there was an API change, can I help you what is not clear in the upgrade guide?

[2016-05-30 13:24] dilignt commented on #20
Thanks @maxklenk. Where is the angular-chart.min.css file on rawgit?  I tried https://rawgit.com/GraFiddle/angular-chart/0.2.9/angular-chart.min.css but this doesn't work.

The upgrade guide doesn't mention groups within the options - you describe changing the rows options and changing them to dimensions but nothing about groups so it's unclear what to do here.  How would you convert this to 0.3?

[2016-05-30 13:52] maxklenk commented on #20
The new structure looks like this:
- data integrated in options
- rows translated into keys of dimensions
- other options rewritten in the c3.js style (types and groups are nested in `data`), we should document this step better I think

[code]

I also updated the plunker http://plnkr.co/edit/JzkdibGX1rZUBvIGhAxq?p=preview

[2016-05-30 14:39] dilignt commented on #20
Thanks for the clarification and the updated plunker.  There's something not quite right about the chart styling - the background of the downloaded image is now black but it used to be white.  I thought this was the css file change but I'm not sure

[2016-06-05 17:34] avadhanij commented on #81
So this is still open? Or needs a new bug?

[2016-06-29 01:47] 81n90 opened #117 "Failed to parse x '2016-06-29 04:10:01' to Date object"
Failed to parse x '2016-06-29 04:10:01' to Date object
c3 error
i.parseDate@c3.min.js

Have data like this
{
value: '10',
myTime: '2016-06-29 04:10:01'
}

and dimensions like this:

myTime {
axis: 'x',
dataType: 'datetime',
displayFormat: '%Y-%m-%d %H:%M:%S',
}

[2016-08-08 14:40] vishnu038 opened #118 "How to capture the x axis tick label"
http://jsfiddle.net/duc8sLmo/

whenever we hover on bar chart on top of that we see a  x axis tick label i need to capture"may 20015" "zune 2015"  onclick event . tried with onclick i got this object { x: 1, value: 2, id: "y", index: 1, name: "y" }.

i am getting index value on each click , not getting that string x="may 2015" please help me with this.

[2016-08-09 14:19] maxklenk commented on #118
Please use the [c3js](https://github.com/c3js/c3) project page for questions about the c3 library.

[2016-08-09 14:19] #118 closed

[2016-09-06 14:43] vishnu038 opened #119 "chart is not displaying in Chrome browser."
My controller Code

 .controller('StatisticsChartCtrl', function ($scope,  $log, $state, ChartService) {

    (function initController() {
     ChartService.getGraphDistribtionData({})
     .then(function (response) {

           $scope.barChartData = response;

           $scope.options = {
             data:$scope.barChartData,
             dimensions: {
               y: {
                 axis

[2016-10-17 08:53] vinaynijhawan opened #120 "How to implement on click event on piechart/bar chart using this directive"
How to implement onclick event on pie/bar chart using this directive

[2016-10-17 10:49] maxklenk commented on #120
Hey, c3js offers an `onclick` event when a user clicks on your data: http://c3js.org/reference.html#data-onclick

Try to use it like this:
[code]

[2016-10-17 10:49] #120 closed

[2016-10-19 04:50] vinaynijhawan commented on #120
how we can access this object or scope inside this chart.data.onclick event ?
i want to call one function which is inside the $scope or this.
i am using typescript using angualr js

[2016-10-19 04:53] vinaynijhawan opened #121 "accesing $scope inside chart.data.onclick event of pie chart"
how we can access this object or scope inside this chart.data.onclick event ?
i want to call one function which is inside the $scope or this.
i am using typescript using angular  js

[2016-10-19 07:40] maxklenk commented on #121
Can you please provide an interactive example (fiddle, ...) so we can have a look at it.

[2016-10-20 06:34] vinaynijhawan opened #122 "show pie chart on click of bar chart"
This fiddle is using classic c3js using javascript which has access to chart object.
http://jsfiddle.net/ox2grL5a/

how do i get access to chart object using your directive?

Thanks

[2016-10-22 04:10] pravinarr opened #123 "Chart is generated with black color fill."
Hello,
I am tried to generate a line chart for the data below.

  $scope.options = {
          data: [{
            "id": 0,
            "bestConsistency": 0,
            "classifier1Accuracy": 0,
            "classifier2Accuracy": 70,
            "consistency": 0,
            "noOfRows": 0
        }, {
            "id": 1,
            "bestConsistency": 17,
            "classifier1Accuracy": 87.7

[2016-11-17 15:07] vinaynijhawan commented on #123
i feel the same issue any help ?

[2016-11-17 16:23] maxklenk commented on #123
Looks like you are missing some css, have a look at #74 adding the

[code]

file should help.

[2016-11-17 16:23] #123 closed

[2016-11-22 21:43] danielcollettepb opened #124 "scatterplot implementation"
Does anyone have a working example of a scatterplot chart like this example:

[http://c3js.org/samples/chart_scatter.html](url)

[2017-01-03 18:25] random-one commented on #89
@maxklenk I think I have a problem with the check you dropped in the above comment.
I have a pie chart that gets redrawn because of this zoom and I receive and error in c3:
[code]
I don't think pie charts are applicable for zoom, so why to redraw the chart once again?
Maybe the problem is somewhere else but this is where I got so far.
@maxklenk  Could you please check this? I also tested c3 only w

[2017-01-04 09:11] random-one commented on #124
[Check this one](http://grafiddle.appspot.com/5659118702428160)

[2017-01-04 09:57] danielcollettepb commented on #124
Thanks @random-one this is helpful

[2017-01-04 09:57] #124 closed

[2017-01-10 13:30] random-one opened #125 "Zoom should be called when chart is applicable for it"
I asked my question in #89, but since it's closed I think I should submit it as an issue, so I'm moving my comment here.

I think I have a problem with the check you dropped for the zoom in v0.3.2.
I have a pie chart that gets redrawn because of this zoom and I receive following error in c3:

Uncaught TypeError: Cannot read property 'data_types' of null
    at ChartInternal.c3_chart_internal_fn.is

[2017-01-10 13:53] maxklenk commented on #125
Thank you for create an issue for your problem, this helps a lot.

I was not able to reproduce your problem, can you please adopt this plnkr to show me when it fails.

https://plnkr.co/edit/BT1CFkMAXFTjo5Jzh1LK?p=preview

[2017-01-10 16:47] maxklenk commented on #125
puh, I see. Interesting bug, we should check if destruction of the chart is not finished and is responsible for this strange behavior. If you find a solution please tell me.

[2017-01-10 16:56] random-one commented on #125
Like I told you I traced it to the `applyZoom` in the `ChartService.prototype.stateCallback` function. And when I don't call it it does not happen which is strange to me too.
My "solution"(and I am not proud of it, but I need the charts to always appear) is a monkey-patched `chartService` that uses the code of applyZoom before you removed the check.

[2018-01-12 13:47] lbayerl opened #127 "Move to billboard.js?"
As C3.js unfortunately isn't really maintained anymore.

There is a promising fork existing now with [billboard.js](https://naver.github.io/billboard.js/) which

1. more or less still directly supports c3.js options
2. has updated dependencies (e.g. d3 v4)
3. lacks a bit angular 1.x support (only inital light wrappers are existing like [billboard-ng(]https://github.com/fintechstudios/billboard-ng)

[2018-01-12 14:55] maxklenk commented on #127
Yes, billboard.js seam to get good support of the community. I would be very happy the receive a pull request which integrates billboard.js. I have not yet checked what has to be changed to integrate it.

[2018-10-23 12:28] dugwood commented on #98
Hit the same issue, I was missing a level of arrays, as you did too:
`groups: ["chart1", "chart2"]` is wrong, it should be:
`groups: [ ["chart1", "chart2"] ]`

Else you can't make multiple groups.

One can argue that only one level would mean one group only, but it's more code and tests to run for the library.

[2018-11-16 18:00] softengi opened #128 "npm audit vulnerabilities found in v0.5.0"
npm audit reports 21 vulnerabilities (13 low, 8 high) in the v0.5.0
Please suggest, how these can be removed.

Steps to reproduce -
run "npm install" on your package
run "npm install package-lock-only"
run "npm audit"

you will see the report of mentioned vulnerabilities